    <footer class="container">
      <hr>
      <p>
        by <a href="https://github.com/Myrmidonut/fcc_infosec_anonymous_message_board" title="GitHub Repository" target="_blank">Frederik</a> | <a href="https://learn.freecodecamp.org/" title="Learn to code at freeCodeCamp" target="_blank">freeCodeCamp</a>
      </p>
    </footer>
    
  </body>
</html>