<% include partials/header.ejs %>
  
  <link href="/style_thread.css" rel="stylesheet">
</head>

<body>
  
  <header>
    <h1 id="threadTitle"></h1>
  </header>
  
  <main>
    
    <h3 id="backToBoard"></h3>
    <div id="boardDisplay"></div>
    
  </main>
  
  <script src="/script_thread.js"></script>
  
<% include partials/footer.ejs %>