<% include partials/header.ejs %>

  <link href="/style_thread.css" rel="stylesheet">
</head>

<body>

  <header>
    <h1 id="threadTitle"></h1>
  </header>

  <main>
    
    <h3 id="backToBoard"></h3>
    <div id="boardDisplay"></div>
    
  </main>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
          integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
          crossorigin="anonymous"></script>

  <script src="/script_thread.js"></script>

<% include partials/footer.ejs %>